<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin | User Management</title>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" />


  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  <link href="/public/cssadmin/styles.css" rel="stylesheet" />
  <style>
    body{
      overflow-x: hidden !important;
    }
  </style>
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

  <script src="https://kit.fontawesome.com/0122127a2d.js" crossorigin="anonymous"></script>



  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

  <script src="https://kit.fontawesome.com/0122127a2d.js" crossorigin="anonymous"></script>





</head>

<%-include('include/_header')%>

<div class="container-fluid px-4">
  <h1 class="mt-4">Dashboard</h1>
</div>
<!-- Main -->


<div class="values row justify-content-evenly">
  <div class="d-flex justify-content-center ">
    <div class="val-box col-md-3 d-flex justify-content-center">
      <i class="fa fa-users p-3" aria-hidden="true"></i>
      <div>
        <h3>
          <%= usercount %>
        </h3>
        <span>Total Users</span>
      </div>
    </div>
    <div class="val-box col-md-3 d-flex justify-content-center">
      <i class="fa-brands fa-product-hunt p-3"></i>
      <div>
        <h3>
          <%= productcount %>
        </h3>
        <span>Total Products</span>
      </div>
    </div>
    <div class="val-box col-md-3 d-flex justify-content-center">
      <i class="fa-regular fa-wand-magic-sparkles"></i>
      <div>
        <h3>
          <%= ordercount %>
        </h3>
        <span>Total Orders</span>
      </div>
    </div>
    <div class="val-box col-md-3 d-flex justify-content-center">
      <i class="fa-sharp fa-solid fa-snowflake-droplets"></i>
      <div>
        <h3>
          <%= totalamount %>
        </h3>
        <span>Total Income</span>
      </div>
    </div>

  </div>

  <div class="row gap-2 justify-content-center p-2">
    <div class="col-md-7 mt-5 gbg" style="border-radius: 5px">
      <canvas id="ordersStatusChart" class="h-100"> </canvas>
    </div>
    <div class="col-md-4 mt-5 gbg" style="border-radius: 5px">
      <canvas id="Paystatus" class=""> </canvas>
    </div>
  </div>
</div>
<input type="hidden" id="pending" value="<%= pending %>" />
<input type="hidden" id="completed" value="<%= completed %>" />
<input type="hidden" id="delivered" value="<%= delivered %>" />
<input type="hidden" id="cancelled" value="<%= cancelled %>" />
<input type="hidden" id="cod" value="<%= cod %>"/>
<input type="hidden" id="online" value="<%= online %>" />
</section>




<footer class="py-4 bg-light mt-auto">
  <div class="container-fluid px-4">
    <div class="d-flex align-items-center justify-content-between small">
      <div class="text-muted">Copyright &copy; Your Website 2022</div>
      <div>
        <a href="#">Privacy Policy</a>
        &middot;
        <a href="#">Terms &amp; Conditions</a>
      </div>
    </div>
  </div>
</footer>




<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById("ordersStatusChart");
  const ctx1 = document.getElementById("Paystatus");
  const pending = Number(document.getElementById("pending").value);
  const completed = Number(document.getElementById("completed").value);
  const delivered = Number(document.getElementById("delivered").value);
  const cancelled = Number(document.getElementById("cancelled").value);
  const cod = Number(document.getElementById("cod").value);
  const online = Number(document.getElementById("online").value);
  new Chart(ctx, {
    type: "bar",
    data: {
      labels: ["Pending", "Delivered", "Cancelled", "Completed"],
      datasets: [
        {
          label: "No .of Orders",
          data: [pending, delivered, cancelled, completed],
          borderWidth: 2,
          backgroundColor: ["yellow", "green", "#BD000E", "#80ced6"],
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });
  new Chart(ctx1, {
    type: "pie",
    data: {
      labels: ["COD", "Online"],
      datasets: [
        {
          label: "No .of Orders",
          data: [cod, online],
          borderWidth: 2,
          backgroundColor: ["#DCAA00", "#04891E"],
        },
      ],
    },
    options: {},
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
  integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
  integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
<script src="dashboard.js"></script>



<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="	https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
  </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  crossorigin="anonymous"></script>
<script src="/public/jsadmin/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="/public/assets/demo/chart-area-demo.js"></script>
<script src="/public/assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/public/jsadmin/datatables-simple-demo.js"></script>

<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
  integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
  integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>



</body>

</html>