<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>


<%-include('include/_header')%>

    <!-- Header part end-->
  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Checkout</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  <!--================Checkout Area =================-->
  <section class="checkout_area padding_top">
  <div class="container">
    <div class="row pt-5">
        <div class="col-md-12 col-lg-6 mb-4">
            <div class="card mb-4">
                <form id="checkout">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Shipping Address</h5>
                    </div>
                    <div class="card-body">
                        <!-- Text input -->
                        <div class=" text-dark  border-secondary">
                            <div class="p-5">
                                <div class="shipadrss col-md-12 ">
                                    <% addressdetails.forEach(data=> { %>
                                        <div style="border: 1px rgba(99, 94, 94, 0.233) solid"
                                            class="p-4 d-flex align-content-center align-items-center d9">
                                            <input type="radio" value="<%= data._id %>" name="address" required
                                                checked />
                                            <p class="ms-3"><br />
                                                <%= data.address %> <br>
                                                    <%= data.state %>,
                                                        <%= data.city %> <br>
                                                            <%= data.pincode %>
                                            </p>
                                        </div>
                                        <% }) %>

                                            <div class="mt-3 d-flex align-items-center d9">
                                                <a href="/addAddress" class="btn btn-light">+ Add New
                                                    Address</a>
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-6 mb-4">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h5 class="mb-0">Summary</h5>
                </div>

                <div class="card-body">
                    <ul class="list-group list-group-flush ">
                        <% cartlist.forEach((product)=>{ %>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                <%= product.productQuantity %> x ₹ <%= product.productDetail.price %>
                                        <span>Rs. <%= product.productPrice %></span>
                            </li>
                            <% }) %>



                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center px-0">

                                </li>
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center px-0">

                                    Total
                                    <span>Rs. <%=sum%></span>
                                </li>

                    <h5 class="text-uppercase mt-5">Give code</h5>
                    <div>
                      <div class="form-outline mt-3">
                        <input
                          type="text"
                          id="coupon" 
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="coupon" 
                          >Enter your code</label
                        >
                      </div>
                      <div class="mt-0 d-flex justify-content-center">
                        <button type="button " id="coupon" class="btn btn-info btn-sm" style="width: 200px;" onclick="check()">Apply Your Coupen</button>
                        
                      </div>
                    </div>
                    
                  </li>
                   <li
                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
                  >
                    <div>
                      <strong>Discount Applied(Rs)</strong>
                    </div>
                    <span id="discount"></span>
                    <input type="hidden" name="coupon" id="dis">
                    <input type="hidden" name="couponName" id="couponName">
                  </li>
                   
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
                  >
                    <div>
                      <strong>Total Amount (Rs)</strong>
                    </div>
                    <span id="total"><%= sum %></span>
                    <input type="hidden" name="total" id="final">
                  </li>
                </ul>
              








                    <div class="row">


                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="paymentMethod" id="flexRadioDefault1" value="COD">
                      <label class="form-check-label" for="flexRadioDefault1">
                        COD
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="paymentMethod" id="flexRadioDefault2" value="online" checked>
                      <label class="form-check-label" for="flexRadioDefault2">
                        Online Payment
                      </label>
                    </div>




                    <div class="col">
                      <div class="mt-0 d-flex justify-content-center">
                          <button type="submit" value="submit"
                              class="btn btn-success btn-lg btn-block float-end btn-sm" style="width: 200px;">
                              Pay Now
                          </button>
                      </div>
                  </div>
                </div>
              </div>












                 
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
  <!--================Home Banner Area =================-->
  <!-- breadcrumb start-->

  <!--================End Checkout Area =================-->

  <!--::footer_part start::-->
  <%-include('include/_footer')%>

  <!-- jquery plugins here-->
  <script>
    $("#checkout").submit((e) => {
       e.preventDefault();
       Swal.fire({
         title: 'Confirm?',
         text: "Click confirm to proceed with your order",
         icon: 'warning',
         showCancelButton: true,
         confirmButtonColor: '#3085d6',
         cancelButtonColor: '#d33',
         confirmButtonText: 'Confirm'
       }).then((result) => {
         if (result.isConfirmed) {
           Swal.fire({
             icon: 'success',
             title: 'Order Confirmed',
           }).then(() => {
             $.ajax({
               url: "/placeOrder",
               method: "post",
               data: $("#checkout").serialize(),
               success: (response) => {
                 console.log(response);
                 if (response.successCod) {
                   location.href = `/orderSuccess`;
                 } else if (response.successPay){
                  location.href=`/pay`;
                
                   console.log(response[0].orders)
                 }
               },
             });
           })
         }
       })
     });
     
  function check(){
    let coupon = document.getElementById("coupon").value;
    let total = document.getElementById("total").innerHTML;
    console.log(coupon);
    $.ajax({
      url:'/checkCoupon',
      data:{
        coupon,
        total
      },
      method:'post',
      success:(response)=>{
        console.log(response);
        if(response.user){
             Swal.fire({
          title: "Coupon already used!",
          icon: "error",
          confirmButtonText: "continue",
          })
        }else if(response.coupons){
             Swal.fire({
          title: "Coupon Applied!",
          icon: "success",
          confirmButtonText: "continue",
          }).then(()=>{
             document.getElementById("discount").innerHTML = response.discountAmount;
             document.getElementById("dis").value = response.discountAmount;
             document.getElementById("couponName").value = response.couponName;
             document.getElementById("total").innerHTML = total - response.discountAmount ;
              document.getElementById("final").value = total - response.discountAmount ;
          })
         
        }else if(response.invalid){
          Swal.fire({
          title: "invalid coupon code!",
          icon: "error",
          confirmButtonText: "continue",
          })
        }else if(response.purchase){
          Swal.fire({
          title: "Minimum purchase 100!",
          icon: "error",
          confirmButtonText: "continue",
          })
        }
      }
    })
  }
 </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
crossorigin="anonymous"></script>

 
  <script src="/public/ajaxjs/ajax.js"></script>

  <script src="js/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- easing js -->
  <script src="js/jquery.magnific-popup.js"></script>
  <!-- swiper js -->
  <script src="js/swiper.min.js"></script>
  <!-- swiper js -->
  <script src="js/masonry.pkgd.js"></script>
  <!-- particles js -->
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="/public/js/slick.min.js"></script>
  <script src="js/jquery.counterup.min.js"></script>
  <script src="js/waypoints.min.js"></script>
  <script src="js/contact.js"></script>
  <script src="js/jquery.ajaxchimp.min.js"></script>
  <script src="js/jquery.form.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/mail-script.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>
  
</body>

</html>