
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>aranoz</title>
  <link rel="icon" href="img/favicon.png">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- animate CSS -->
  <link rel="stylesheet" href="css/animate.css">
  <!-- owl carousel CSS -->
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/lightslider.min.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="css/all.css">
  <!-- flaticon CSS -->
  <link rel="stylesheet" href="css/flaticon.css">
  <link rel="stylesheet" href="css/themify-icons.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="css/magnific-popup.css">
  <!-- style CSS -->
  <link rel="stylesheet" href="css/style.css">
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>
 

</head>

   <!--::header part start::-->

<body>
    <!--::header part start::-->
    <%-include('include/_header')%>

    <!-- Header part end-->
    <!-- Header part end-->

  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Shop Single</h2>
              <p>Home <span>-</span> Shop Single</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->
  <!--================End Home Banner Area =================-->

  <!--================Single Product Area =================-->
  <div class="product_image_area section_padding">
    <div class="container ">
      <div class="row s_product_inner justify-content-between">
        <div class="col-lg-7 col-xl-7 ">
          <div class="product_slider_img">
            <div id="vertical">
                
         <div  data-thumb="/products/<%=product.image[0].filename%>" id="img-container" >
                <img  src ="/products/<%=product.image[0].filename%>" width="300" height="200" />
              </div>
              <div  data-thumb="/products/<%=product.image[1].filename%>" style="height: 100px;"  >
                <img src="/products/<%=product.image[1].filename%>"  width="300" height="200"/>
              </div>
              <div  data-thumb="/products/<%=product.image[2].filename%>"   width="100" height="80">
                <img src="/products/<%=product.image[2].filename%>"  width="300" height="200" />
              </div>
             
             
             
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-xl-4">
          <div class="s_product_text">
           
            <h3><%=product.name%></h3>
            <h2> RS <%=product.price%></h2>
            <ul class="list">
              <li>
                <a class="active" href="#">
                  <span>Category</span> : <%=product.category%></a>
              </li>
              <li>
                <a href="#"> <span>Availibility</span>: <%=product.quantity%></a>
              </li>
            </ul>
            <p>
                <%=product.description%>
            </p>
            <div class="card_area d-flex justify-content-between align-items-center">
             
              <button id="cartButton" class="btn btn-dark btn-addtocart mx-2" style="width: 140px;" onclick="addToCart('<%= product._id %>')"> Add to Cart</button>
              <button id="cartButton" class="btn btn-dark btn-addtocart mx-2" style="width: 140px;" onclick=""> Buy Now</button>
            </div>
            <div class="card_area d-flex justify-content-center align-items-center">
             
             
              <a href="/addtowishlist?id=<%=product._id%>" class="like_us"> <i class="ti-heart"></i> </a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================End Single Product Area =================-->

  <!--================Product Description Area =================-->
 
 <!--::footer_part start::-->
 <%-include('include/_footer')%>
<!--::footer_part end::-->

  <!-- jquery plugins here-->
  <!-- jquery -->
  <script>
    var options = {
  
        width: 350,
        zoomWidth: 350,
        
        offset: {vertical:250, horizontal: -350}
    };
    new ImageZoom(document.getElementById("img-container"), options);
     
    </script>
  <script src="/public/ajaxjs/ajax.js"></script>
  <script src="js/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- easing js -->
  <script src="js/jquery.magnific-popup.js"></script>
  <!-- swiper js -->
  <script src="js/lightslider.min.js"></script>
  <!-- swiper js -->
  <script src="js/masonry.pkgd.js"></script>
  <!-- particles js -->
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="js/slick.min.js"></script>
  <script src="js/swiper.jquery.js"></script>
  <script src="js/jquery.counterup.min.js"></script>
  <script src="js/waypoints.min.js"></script>
  <script src="js/contact.js"></script>
  <script src="js/jquery.ajaxchimp.min.js"></script>
  <script src="js/jquery.form.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/mail-script.js"></script>
  <script src="js/stellar.js"></script>
  <!-- custom js -->
  <script src="js/theme.js"></script>
  <script src="js/custom.js"></script>