<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/public/css/userprofile.css">

</head>

<%-include('include/_header')%>

    <!-- Header part end-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>User Address</h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div class="container emp-profile ">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
          
                </div>
                <div class="col-md-6">
                    <div class="profile-head">

                    </div>
                </div>

            </div>
            <div class="row">
               
                <div class="col-md-3">
                    <div class="profile-work">
                       
                        <a href="/userProfile">Details</a><br /><br/>
                        <a href="/address">Address</a><br /><br />
                        <a href="/orders">Orders</a><br /><br />
                       


                    </div>
                </div>
                <div class="col-md-9">
                   
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="add d-flex justify-content-start ">
                            <a class="addaddress mx-1" href='/addAddress'>
                                <button type="button" class="btn btn-primary d-flex justify-content-end">Add Address</button>
                            </a>
                            </div>







                            <% addressdetails.forEach(function(item){%>
                                <div id="deleteActions<%= item._id%>">
                            <div class="add d-flex justify-content-end "  >
                    
                                <a class="addaddress " href='/editAddress?id=<%= item._id%>'>
                                    <button type="button" class="btn-sm  btn-warning d-flex justify-content-end">Edit Address</button>
                                </a>
                           
                            
                    
                                 <button type="button" class="btn-sm btn-danger  d-flex justify-content-end mx-2" onclick="remove('<%=item._id%>')" >Delete</button>
                            </div>
                           

                            <div class="row">

                                <div class="col-md-4">
                                    <label>Address :</label>
                                </div>
                                <div class="col-md-8">
                                    <p>
                                       <%=item.address%>
                                    </p>
                                </div>
                            </div><br />


                            <div class="row">

                                <div class="col-md-4">
                                    <label>City :</label>
                                </div>
                                <div class="col-md-8">
                                    <p>
                                       <%=item.city%>
                                    </p>
                                </div>
                            </div><br />



                            <div class="row">

                                <div class="col-md-4">
                                    <label>District:</label>
                                </div>
                                <div class="col-md-8">
                                    <p>
                                       <%=item.district%>
                                    </p>
                                </div>
                            </div><br />



                           
                            <div class="row">

                                <div class="col-md-4">
                                    <label>State:</label>
                                </div>
                                <div class="col-md-8">
                                    <p>
                                       <%=item.state%>
                                    </p>
                                </div>
                            </div><br />


                            <div class="row">

                                <div class="col-md-4">
                                    <label>Pincode :</label>
                                </div>
                                <div class="col-md-8">
                                    <p>
                                       <%=item.pincode%>
                                    </p>
                                </div>
                            </div><br />


                           
                           



                                </div>

                        </div>
                        <% }) %>
                      

                    </div>
                </div>
            </div>
            </form>
           

        </form>
    </div>
    
 <script>
    function remove(id){
   console.log(id);
   $.ajax({
      url:'/deleteAddress',
      method:'delete', 
      data:{
         addressId : id
      },
      success:(res)=>{
         if(res.success){
            $('#deleteActions' + id).load(location.href + ' #deleteActions' + id)
         }
      }
   })
}
 </script>



 <!--::footer_part start::-->
 <%-include('include/_footer')%>
  <!--::footer_part end::-->

    <!-- jquery plugins here-->
    <script src="/public/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/public/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/public/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/public/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/public/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/public/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/public/js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/public/js/slick.min.js"></script>
    <script src="/public/js/jquery.counterup.min.js"></script>
    <script src="/public/js/waypoints.min.js"></script>
    <script src="/public/js/contact.js"></script>
    <script src="/public/js/jquery.ajaxchimp.min.js"></script>
    <script src="/public/js/jquery.form.js"></script>
    <script src="/public/js/jquery.validate.min.js"></script>
    <script src="/public/js/mail-script.js"></script>
    <!-- custom js -->
    <script src="/public/js/custom.js"></script>
</body>

</html>